.product-item-container {
  margin-bottom: 64px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product-item-container > * {
  margin: 0 auto 15px auto;
}

.product-image {      
    list-style-type: none;
    width: 225px;
    padding: 20px;
    margin: 6px 6px;        
    border: 1px solid #33B5E5;
  } 
  

  