img {
    border-radius: 10px;
    width: 300px;   
  }
  
.detail-container {
  display: flex;
}

.detail-item {
  margin-left: 128px;
  margin-right: 128px;
}

.back-link {
  margin-top: 8px;
  text-decoration: none;
  color: #33B5E5;
  font-weight: 700;
  font-size: 1rem;
}
