.confirmation-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

.confirmation-header {
  color: #33e5bc
}

.confirmation-container a {
  background: #33B5E5;
  color:#fff;
  text-decoration: none;
  font-size: 1.3rem;
  letter-spacing: .075em;
  padding:.5em 1em;
  margin-top: 20px;
}
