.product-list-container {
  display: flex;
  justify-content: flex-start;
}

.product-index {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1024px;
  }
  

